<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="Selenium.Support" version="4.16.2" manuallyInstalled="true" />
  <package id="Selenium.WebDriver" version="4.16.2" manuallyInstalled="true" />
  <package id="Selenium.WebDriver.ChromeDriver" version="120.0.6099.10900" manuallyInstalled="true" />
</packages>